@page "/about"
@{
    ViewData["Title"] = "About";
}

<h2>About</h2>
<p><strong>Name:</strong> Andres Parra</p>
<p><strong>Section:</strong> 0001</p>
<p><strong>In CIS 484 I want to learn:</strong> To use Visual Studio to develop a professional Web-based application</p>
